/* FONTS IMPORT */
@font-face {
  font-family: 'bould';
  src: url('/assets/fonts/bould-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bould';
  src: url('/assets/fonts/bould-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bould';
  src: url('/assets/fonts/bould-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*CSS RESET*/
:root {
  --primary: hsl(295, 95%, 7%);
  --text-primary: hsl(295, 95%, 7%);
  --contrast: hsl(120, 100%, 100%);
  --text-contrast: hsl(120, 100%, 100%);
  --accent: hsl(336, 80%, 25%);
  --text-accent: hsl(173, 55%, 74%);
  --primary-font: 'bould';
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body,
html {
  height: 100%;
}
html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: var(--primary-font), Arial, sans-serif;
  font-weight: normal;
  font-size: 2rem;
  font-size: clamp(1.8rem, 1.7429rem + 0.1786vw, 2rem);
  line-height: 1.5;
  color: var(--text-contrast);
  background-color: var(--primary);
  -webkit-marquee-increment: 0;
}
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
button,
input,
select,
textarea {
  font: inherit;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
* + p {
  margin: 1.2rem 0;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: dotted 2px var(--contrast);
  text-decoration: none;
}
/*END CSS RESET*/

h1 {
  font-size: clamp(3.2rem, 2.6rem + 1.875vw, 5rem);
}
h2 {
  font-size: clamp(2.6rem, 2.4rem + 0.625vw, 3.2rem);
  font-weight: 300;
  text-transform: uppercase;
}

section:first-of-type,
article:first-of-type {
  margin-top: 6rem;
}
* + section,
* + article {
  margin-top: 4rem;
}

.root {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 128rem;
}

[clean-list] {
  list-style-type: none;
  padding: 0;
}

.nice-link {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.nice-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  text-decoration: none;
  transform: scaleX(1);
  transform-origin: center left;
  background-color: var(--contrast);
}
.nice-link:hover::after {
  transform-origin: center right;
  transform: scaleX(0);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .nice-link::after {
    transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

/* @media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #fff;
  }
} */
