.post {
  margin: 4rem auto 0 auto;
  max-width: 72rem;
}

.post h1 {
  margin-bottom: 4rem;
}

.post * + h2 {
  margin-top: 3rem;
}
.post * + h3 {
  margin-top: 2rem;
}

.post a {
  color: var(--text-accent);
}
