---
import slug from 'slug'
import { Markdown } from 'astro/components'
import PostLayout from '~/layouts/PostLayout.astro'
import WinnerLink from '~/components/WinnerLink.astro'

export async function getStaticPaths() {
  const winners = await Astro.fetchContent('../../content/**/*.md')
  return winners.map((winner, index, winners) => {
    const prev = index - 1 >= 0 ? winners[index - 1] : null
    const next = winners.length > index + 1 ? winners[index + 1] : null
    return {
      params: {
        type: winner.type,
        slug: slug(winner.title),
      },
      // https://github.com/jasikpark/unofficial-distractible-scoreboard/blob/main/src/pages/episodes/%5BepisodeTitle%5D.astro
      props: { winner, prev, next },
    }
  })
}

const { slug, type } = Astro.request.params
const { winner, prev, next } = Astro.props

const assetsPath = import.meta.env.PUBLIC_ASSETS_PATH + winner.type + '/'
---

<PostLayout title={winner.title}>
  <h1>{winner.title}</h1>
  <Markdown content={winner.astro.source}>

  </Markdown>
  <div class="screenshot">
    <picture>
      <source srcset={`${assetsPath + slug}.webp`} type="image/webp" />
      <img
        src={`${assetsPath + slug}.jpg`}
        alt=""
        width="720"
        height="402"
        type="image/jpeg"
      />
    </picture>
  </div>

  <div class="winner-nav">
    <div>
      {prev ? (
        <WinnerLink class="nice-link" rel="prev" winner={prev}>
          Previous:{' '}
        </WinnerLink>
      ) : (
        ''
      )}
    </div>
    <div>
      {next ? (
        <WinnerLink class="nice-link" rel="next" winner={next}>
          Next:{' '}
        </WinnerLink>
      ) : (
        ''
      )}
    </div>
  </div>
</PostLayout>

<style>
  .screenshot {
    margin-top: 4rem;
  }
  .screenshot img {
    outline: 1px solid var(--contrast);
  }
  .winner-nav {
    margin-top: 4rem;
    padding: 2rem 1rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
    border-top: dotted 8px var(--accent);
  }
  .winner-nav a {
    color: var(--text-contrast);
  }
</style>
