---
// Component Imports
import BaseLayout from '../layouts/default.astro'
import Card from '../components/Card.astro'
// You can import components from any supported Framework here!
// import VueCounter from '../components/VueCounter.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Accessibility allies'
const people = Astro.fetchContent('../content/people/*.md')
const websites = Astro.fetchContent('../content/websites/*.md')
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout {title}>
  <article class="intro">
    <h1>Welcome to Accessibility Allies!</h1>
    <p>
      This website lists <strong>web accessibility resources</strong>. Whether
      they are personal blogs from designers, developers and other experts or
      broader accessibility knowledge bases.
    </p>
  </article>

  <article class="goat">
    <h2>People talking about accessibility</h2>
    <ul class="goat__list" clean-list>
      {people.map((winner) => (
        <li>
          <Card {winner} />
        </li>
      ))}
    </ul>
  </article>

  <article class="goat">
    <h2>Websites about accessibility</h2>
    <ul class="goat__list" clean-list>
      {websites.map((winner) => (
        <li>
          <Card {winner} />
        </li>
      ))}
    </ul>
  </article>
</BaseLayout>

<style>
  .intro {
    max-width: 80ch;
  }
  .goat__list {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
    gap: 2rem;
  }
</style>
