---
import slug from 'slug'
const { winner } = Astro.props
const winnerSlug = slug(winner.title)
const winnerUrl = () => {
  const url = new URL(winner.link)
  return url.hostname.replace('www.', '')
}

// https://inclusive-components.design/cards/
const randomID = Math.random().toString(36).substr(2, 9)

const assetsPath = import.meta.env.PUBLIC_ASSETS_PATH + winner.type + '/'
---

<div class="card">
  <div class="card__intro">
    <h3>
      <a
        class="nice-link"
        href={winner.type + '/' + winnerSlug}
        aria-describedby={'desc-' + randomID}
      >
        <span class="sr-only">Learn more about</span> {winner.title}</a
      >
    </h3>
    <picture class="card__avatar">
      <source
        srcset={`${assetsPath + winnerSlug}-avatar.webp`}
        type="image/webp"
      />
      <img
        src={`${assetsPath + winnerSlug}-avatar.jpg`}
        alt=""
        width="60"
        height="60"
        type="image/jpeg"
      />
    </picture>
  </div>
  <ul class="card__lang" clean-list>
    {winner.lang.map((lang) => (
      <li class="label">
        <span class="sr-only">content in </span>
        {lang}
      </li>
    ))}
  </ul>
  <div class="card__links">
    <a href={winner.link} rel="noopener noreferer">{winnerUrl}</a>
  </div>
</div>

<style>
  .card {
    margin: 0;
    padding: 3rem 2.4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    border-radius: 4px;
    border: solid 1px var(--accent);
  }
  .card > :last-child {
    margin-top: auto;
  }
  .card__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .card h3 {
    order: 2;
  }
  .card__avatar {
    flex-shrink: 1;
    flex-basis: 60px;
    order: 1;
  }
  .card__avatar img {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px var(--accent);
  }
  .card__lang {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
  .label {
    padding: 0.2rem 0.8rem;
    min-width: 4rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 2rem;
    background-color: var(--accent);
  }
  @media screen and (min-width: 700px) {
    .card {
      align-items: flex-start;
    }
    .card__intro {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
</style>
