<footer>
  <p>
    Made for the
    <a href="https://dusty.domains/" rel="noopener noreferer"
      >dusty domains initiative</a
    >
    with <a href="https://astro.build" rel="noreferer noopener">Astro.</a>
  </p>
</footer>

<style>
  footer {
    margin-top: 6rem;
    padding: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.6rem;
    border-top: solid 2px var(--accent);
  }
  p {
    margin: 0;
  }
</style>
