---
import SkipLink from '../components/SkipLink.astro'
---

<header>
  <SkipLink />
  <div class="header">
    <a class="header__logo" href="/">a11y allies</a>
    <nav>
      <ul class="header__nav" clean-list>
        <li><a class="nice-link" href="/">Home</a></li>
        <li><a class="nice-link" href="/about/">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    padding: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: solid 2px var(--accent);
  }
  .header__logo {
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--text-contrast);
  }
  .header__nav {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
  }
</style>
