---
const { href = '#main-content' } = Astro.props
---

<a class="skip-link" {href}><slot>Skip to main content</slot></a>

<style>
  .skip-link {
    padding: 4px;
    position: absolute;
    left: 2em;
    font-weight: 700;
    transform: translateY(-100%);
    color: var(--text-primary);
    background: var(--text-contrast);
    z-index: 999;
  }
  @media (prefers-reduced-motion: no-preference) {
    .skip-link {
      transition: transform 0.3s;
    }
  }
  .skip-link:focus {
    transform: translateY(0%);
  }
</style>
