---
import slug from 'slug'
export interface Props {
  winner: {
    type: string
    title: string
  }
  rel: string
  class: string
}
const {
  winner: { type, title },
  rel,
  class: className,
} = Astro.props as Props

const siteUrl = import.meta.env.PUBLIC_URL
---

<a {rel} class={className} href={new URL(`/${type}/${slug(title)}`, siteUrl)}>
  <slot />
  {title}
</a>
