---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
const { title } = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{title}</title>
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <!-- <link rel="icon" href="/favicon.svg" type="image/svg+xml" /> -->
    <meta name="theme-color" content="#210124" />
  </head>
  <body>
    <div class="root">
      <Header />
      <main id="main-content">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
